.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  
    margin-top:1rem;
    
   
   color: rgb(365, 365, 365);
}
.poster:hover{
    
    box-shadow: 10px 10px 10px rgb(52, 164, 4);
    transform: scale(1.3);
    transition: all 1.5s ease;
    background-color: rgb(19, 151, 107);
    
}
.movie:hover{
    color: rgb(204, 30, 239);
    background-color: rgb(0, 255, 21);
    box-shadow: 10px 5px 10px blanchedalmond;
    transform: scale(1.3);
    transition: all 1.5s ease;
    visibility: visible;
}
